.navbar{
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__logo{
    font-size: 26px;
    font-family: Lora;
}
.navbar__collection{
    display: flex;
    font-family: Oxygen;
}
.navbar__item{
    padding: 10px 20px;
    font-size: 12px;
}
.menu{
    display: none;
}
.menu__icon{
    display: flex;
    gap: 10px;
}
@media (max-width:550px) {
    .navbar__collection{
        display: none;
    }
    .menu{
        display: block;
    }
    
}